[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    width: 14px;
    height: 14px;
}

[type="checkbox"]+label {
    font-size: 0.8rem;
    padding-left: 20px;
}

label,
span.form-invalid {
    display: block;
}

span.close {
    cursor: pointer;
}

button#add {
    width: 60px;
}

.disabled {
    pointer-events: none;
    background-color: #e9ecef;
    opacity: 0.7;
}

.disabled::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    font-size: 0.8rem;
}

.disabled::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    font-size: 0.8rem;
}

.disabled:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    font-size: 0.8rem;
}

.disabled:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    font-size: 0.8rem;
}