[class*=col] {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    width: 14px;
    height: 14px;
}

[type="checkbox"]+label {
    font-size: 0.8rem;
    padding-left: 20px;
}

label,
span.form-invalid {
    display: block;
}

button#add {
    width: 50px;
}

.disabled {
    pointer-events: none;
    background-color: #e9ecef;
    opacity: 0.7;
}

.form-group {
    margin-bottom: 0;
}

.disabled::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    font-size: 0.8rem;
}

.disabled::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    font-size: 0.8rem;
}

.disabled:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    font-size: 0.8rem;
}

.disabled:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    font-size: 0.8rem;
}

tbody tr {
    border-top: 1px solid #e0e0e0;
}

input[type=number] {
    padding-right: 8px;
}