<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="r-panel-body">
                    <button class="btn btn-themecolor">Nuevo adherente</button>

                    <p class="text-muted mt-3"><small>Mostrando <b>1-20</b> de <b>500</b> elementos</small></p>

                    <table class="table table-borderless table-striped table-sm mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Nro Adherente</th>
                                <th scope="col">Nro Documento</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-control form-control-sm" type="text"></td>
                                <td><input class="form-control form-control-sm" type="text"></td>
                                <td><input class="form-control form-control-sm" type="text"></td>
                                <td><input class="form-control form-control-sm" type="text"></td>
                                <td><input class="form-control form-control-sm" type="text"></td>
                                <td><input class="form-control form-control-sm" type="text"></td>
                                <th></th>
                            </tr>
                            <tr>
                                <td>255</td>
                                <td>37558497</td>
                                <td>VALENZUELA </td>
                                <td>PABLO</td>
                                <td>1122559509</td>
                                <td>pablo86v@gmail.com</td>
                                <th><i class="mdi mdi-lead-pencil"></i></th>
                            </tr>
                            <tr>
                                <td>255</td>
                                <td>37558497</td>
                                <td>VALENZUELA </td>
                                <td>PABLO</td>
                                <td>1122559509</td>
                                <td>pablo86v@gmail.com</td>
                                <th><i class="mdi mdi-lead-pencil"></i></th>
                            </tr>
                            <tr>
                                <td>255</td>
                                <td>37558497</td>
                                <td>VALENZUELA </td>
                                <td>PABLO</td>
                                <td>1122559509</td>
                                <td>pablo86v@gmail.com</td>
                                <th><i class="mdi mdi-lead-pencil"></i></th>
                            </tr>
                            <tr>
                                <td>255</td>
                                <td>37558497</td>
                                <td>VALENZUELA </td>
                                <td>PABLO</td>
                                <td>1122559509</td>
                                <td>pablo86v@gmail.com</td>
                                <th><i class="mdi mdi-lead-pencil"></i></th>
                            </tr>
                            <tr>
                                <td>255</td>
                                <td>37558497</td>
                                <td>VALENZUELA </td>
                                <td>PABLO</td>
                                <td>1122559509</td>
                                <td>pablo86v@gmail.com</td>
                                <th><i class="mdi mdi-lead-pencil"></i></th>
                            </tr>
                            <tr>
                                <td>255</td>
                                <td>37558497</td>
                                <td>VALENZUELA </td>
                                <td>PABLO</td>
                                <td>1122559509</td>
                                <td>pablo86v@gmail.com</td>
                                <th><i class="mdi mdi-lead-pencil"></i></th>
                            </tr>
                            <tr>
                                <td>255</td>
                                <td>37558497</td>
                                <td>VALENZUELA </td>
                                <td>PABLO</td>
                                <td>1122559509</td>
                                <td>pablo86v@gmail.com</td>
                                <th><i class="mdi mdi-lead-pencil"></i></th>
                            </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm">
                            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>