<div class="row">
    <div class="col-8">

        <div class="card">
            <div class="card-body">
                <div class="r-panel-body">

                    <h4 class="card-title text-muted">Deudas</h4>
                    <hr>

                    <form [formGroup]="forma">
                        <div class="jumbotron" id="control-pagos">
                            <div class="row">

                                <div class="col-2">
                                    <input name="checkPago" type="radio" value="parcial" id="parcial" class="with-gap radio-col-red" formControlName="checkPago" (change)="onChangeCheck()" />
                                    <label for="parcial">Otro importe</label>
                                </div>
                                <div class="col-2">
                                    <input class="form-control form-control-sm amount" formControlName="txtOtroImporte">
                                </div>
                                <div class="col-2">
                                    <input name="checkPago" type="radio" value="total" id="total" class="with-gap radio-col-red" formControlName="checkPago" (change)="onChangeCheck()" />
                                    <label for="total">Total deuda</label>
                                </div>
                                <div class="col-2">
                                    <input class="form-control form-control-sm amount" formControlName="txtTotalDeuda">
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-default btn-sm btn-block">Cancelar</button>
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn btn-themecolor btn-sm btn-block">Pagar</button>
                                </div>
                            </div>

                        </div>
                    </form>

                    <table class="table">
                        <tbody>
                            <tr *ngFor="let d of arrDeudas; let i = index">
                                <td>
                                    <input type="checkbox" [id]="'check' + i" class="filled-in chk-col-red" />
                                    <label [for]="'check' + i"></label>
                                </td>
                                <td>
                                    <span>{{d.detalle}}</span>
                                    <span><small>Vencimiento: {{d.vencimiento}}</small></span>
                                    <span><small><a href="#" data-toggle="modal" data-target="#modalDetalleDeuda" (click)="detalleDeuda = d">Ver detalle</a></small></span>

                                </td>
                                <td>$ {{d.montoPagar}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-detalle-deuda [deuda]="detalleDeuda"></app-modal-detalle-deuda>