span {
    display: block;
}

.amount {
    font-size: 1.5rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #b7b7b7;
    background: none;
    text-align: center;
}

#control-pagos .col {
    padding: 0 !important;
}

.jumbotron {
    padding: 2rem !important;
    background: #f4f6f9;
}