<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-muted" *ngIf="neWoperation">Alta de expensa</h4>
                <h4 class="card-title text-muted" *ngIf="!neWoperation">Edición de expensa</h4>
                <hr>
                <div class="r-panel-body">

                    <form [formGroup]="forma" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="anio">Año</label>
                                    <select class="form-control" formControlName="anio" id="anio">
                                        <option *ngFor="let a of arrAnios ; let i = index" [value]="a">{{a}}</option>
                                    </select>
                                    <span class="form-invalid" *ngIf="forma.controls['anio'].errors?.required && forma.get('anio').touched">*El campo es requerido</span>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="mes">Mes</label>
                                    <select class="form-control" formControlName="mes" id="mes">
                                        <option *ngFor="let m of arrMeses ; let i = index" [value]="i + 1">{{m}}</option>
                                    </select>
                                    <span class="form-invalid" *ngIf="forma.controls['mes'].errors?.required && forma.controls['mes'].touched">*El campo es requerido</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="primerVencimiento">Primer vencimiento</label>
                                    <input class="form-control" type="date" formControlName="primerVencimiento" id="primerVencimiento">
                                    <span class="form-invalid" *ngIf="forma.controls['primerVencimiento'].errors?.required && forma.controls['primerVencimiento'].touched">*El campo es requerido</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="segundoVencimiento">Segundo vencimiento</label>
                                    <input class="form-control" type="date" formControlName="segundoVencimiento" id="segundoVencimiento">
                                    <span class="form-invalid" *ngIf="forma.controls['segundoVencimiento'].errors?.required && forma.controls['segundoVencimiento'].touched">*El campo es requerido</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="estado">Estado</label>
                                    <input class="form-control" type="text" formControlName="estado" id="estado">
                                    <span class="form-invalid" *ngIf="forma.controls['estado'].errors?.required && forma.controls['estado'].touched">*El campo es requerido</span>
                                </div>
                            </div>
                    
                        <button type="submit" class="btn btn-themecolor" [disabled]="forma.invalid">Aceptar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>