/* Links del tema */

#themecolors a {
    cursor: pointer
}


/* Mensaje de erorr de los formularios */
.form-invalid {
    color: red;
    font-size: smaller;
}


/* Hover de los botones */
.btn:hover {
    color: #fff;
}