/* Links del tema */


/* #themecolors a {
    cursor: pointer
} */

a {
    cursor: pointer
}


/* Mensaje de erorr de los formularios */

.form-invalid {
    color: red;
    font-size: smaller;
}

.text-danger {
    color: red;
}


/* Hover de los botones */

.btn:hover {
    color: #fff;
}


/* Boton cerrar de los alert */

.close {
    cursor: pointer;
}


/* Material Icons Size */

.mdi.md-18 {
    font-size: 18px;
}

.mdi.md-24 {
    font-size: 24px;
}

.mdi.md-36 {
    font-size: 36px;
}

.mdi.md-48 {
    font-size: 48px;
}


/* Uppercase form */

.uppercase-text {
    text-transform: uppercase;
}


/* Quita las flechas de todos los input number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}